{% extends 'index.html' %}
{% block titulo %}
  Listado de autores
{% endblock titulo %}

{% block titulo_principal %}
Listado de autores
{% endblock titulo_principal %}

{% block body %}
  {% if autores %}
      <table class="table table-striped table-bordered dataTable no-footer">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Nacionalidad</th>
            <th>Descripcion</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for autor in autores %}
          <tr>
            <td>{{autor.id}}</td>
            <td>{{autor.nombre}}</td>
            <td>{{autor.apellido}}</td>
            <td>{{autor.nacionalidad}}</td>
            <td>{{autor.descripcion}}</td>
            <td><button type="button" class="btn btn-primary" onclick="abrir_modal_edicion('{% url 'libro:editar_autor' autor.id %}')">Editar</button>
            <a class="btn btn-danger" href="{% url 'libro:eliminar_autor' autor.id %}">Eliminar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% else %}
    <h1>No existen autores registrados</h1>

  {% endif %}

  {% if error %}
  <h2>Se ha producido un error:  {{error}}</h2>
  {% endif %}

<button type="button" class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'libro:crear_autor' %}')">Crear autor</button>

<div class="modal fade" id="creacion" role="dialog"></div>
<div class="modal fade" id="edicion" role="dialog"></div>


{% endblock body %}
