{% extends 'index.html' %}
{% block titulo %}
  Listado de usuarios
{% endblock titulo %}

{% block titulo_principal %}
Listado de Usuarios
{% endblock titulo_principal %}

{% block body %}
  {% if object_list %}
      <table class="table table-striped table-bordered dataTable no-footer">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre de usuario</th>
            <th>Email</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Es administrador?</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in object_list %}
          <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.nombres}}</td>
            <td>{{usuario.apellidos}}</td>
            <td>{{usuario.is_admin}}</td>

            <td><a href="{% url 'usuario:editar_usuario' usuario.id %}" class="btn btn-primary">Editar</a>
            <a class="btn btn-danger" href="{% url 'usuario:eliminar_usuario' usuario.id %}">Eliminar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% else %}
    <h1>No existen usuarios registrados</h1>

  {% endif %}

  {% if error %}
  <h2>Se ha producido un error:  {{error}}</h2>
  {% endif %}



{% endblock body %}
