{% extends 'index.html' %}


{% block titulo %}
Eliminación de usuario
{% endblock titulo %}
{% block titulo_principal %}
  Eliminación de usuario
{% endblock %}
{% block body %}
  {% if error %}
    <h2>{{error}}</h2>
  {% else %}
    <form  method="post">
      {% csrf_token %}
      <h3>¿Está seguro que desea eliminar al usuario: "{{ object }}"?</h3>
      <p></p>
      <button type="submit" class="btn btn-primary">Confirmar</button>
      <a class="btn btn-danger" href="{% url 'usuario:listar_usuario' %}">Cancelar</a>
    </form>
  {% endif %}
{% endblock body %}
