{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Mis reservas
{% endblock titulo %}

{% block titulo_principal %}
Mis reservas
{% endblock titulo_principal %}

{% block extracss %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock extracss %}

  
{% block body %}
{% if object_list %}  
    <table id="reservas" class="table table-striped table-bordered dataTable no-footer">
        <thead>
            <th>Libro</th>
            <th>Fecha de reserva</td>
            <th>Fecha de vencimiento</td>
            <th>Estado</th>   
        </thead>
        <tbody>
        {% for reserva in object_list %}
            <tr>
                <td>{{reserva.libro}}</td>
                <td>{{reserva.fecha_creacion}}</td>
                <td>{{reserva.calcular_vencimiento}}</td>
                <td>{% if reserva.estado %}
                        Activo
              
                    {% else %}
                         Vencido
                    {% endif %} 

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% csrf_token %}
{% endif %}

{% if not object_list %}
    <div class="alert alert-warning" role="alert">
        No tienes reservas
    </div>
{% endif %}





{% endblock body %}
{% block extrajs %}
<script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $("#reservas").DataTable({
                language : {
                 "processing": "Procesando...",
                 "lengthMenu": "Mostrar _MENU_ registros",
                 "zeroRecords": "No se encontraron resultados",
                 "emptyTable": "Ningún dato disponible en esta tabla",
                 "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                 "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                 "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                 "search": "Buscar:",
                 "infoThousands": ",",
                 "loadingRecords": "Cargando...",
                 "paginate": {
                     "first": "Primero",
                     "last": "Último",
                     "next": "Siguiente",
                     "previous": "Anterior"
                 },
                 "aria": {
                     "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                     "sortDescending": ": Activar para ordenar la columna de manera descendente"
                 },
               }
              });
      } );
</script>
{% endblock extrajs %}



