{% extends 'index.html' %}
{% load static %}
{% block titulo %}
  Listado de libros
{% endblock titulo %}

{% block titulo_principal %}
Listado de libros
{% endblock titulo_principal %}

{% block extracss %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock extracss %}
  
{% block body %}
  
      <table class="table table-striped table-bordered dataTable no-footer" id="tabla_libros">
        <thead>
          <tr>
            <th>#</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Autor(es)</th>
            <th>Stock</th>
            <th>Fecha de publicación</th>
            <th>Fecha de creación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  
      
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
  {% endif %}


  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'libro:crear_libro' %}')">Crear libro</button>

  <!-- Modal -->
  <div class="modal fade" id="creacion" role="dialog">

  </div>

  <div class="modal fade" id="edicion" role="dialog">

  </div>

  <div class="modal fade" id="eliminacion" role="dialog">

  </div>



{% endblock body %}


{% block extrajs %}
  <script src="{% static 'js/libro/libro.js' %}"></script>
  <script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
{% endblock extrajs %}
  
